

p {
    color: white;
    font-family: Helvetica;
    font-size: 250%;
}


header {
    color: #d031b1;
    font-family: Helvetica;
    font-size: 250%;
    background-color: #f08edd;
    padding: 10px 10px 10px 10px;

}



body {
    background-color: #3DCAF7;
}

h2 {
    color: white;
    font-family: Helvetica;
    font-size: 200%;
}

footer {
    color: grey;
    font-family: Helvetica;
    font-size: 250%;
    background-color: #f08edd;
    position: absolute;
    right: 0;bottom:0;left:0;
}

img {
    width: 200px;
    height: 120px
}